@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --cor--00: #000000;
    --cor--ff: #e0e0e0;
    --cor--ice: #eeeeee;
    --cor--01: #556B2F;
    --cor--02: #13150e;
    --cor--03: #10c110;
}

html {
    font-family: "Saira", sans-serif;
    font-size: 16px;
    color: var(--cor--ff);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: var(--cor--00);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    background-image: url("../assets/banner.jpg");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(30%);
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 150px;
    position: absolute;
    text-shadow: 1px 1px 4px var(--cor--03);
}

header p {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    margin-top: 12rem;
    position: absolute;
}

header h1 span {
    color: var(--cor--03);
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    margin-right: 30px;
    display: flex;
    height: 100%;
}
nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav a {
    font-family: "Saira", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--cor--ff);
    padding: 0 12px;
}

.chamada {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-chamada {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem
}

.p1 {
    font-size: 70px;
    font-weight: 400;
}

.p2 {
    font-size: 30px;
    font-weight: 100;
}

.chamada img {
    width: 30%;
}

.form {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: space-between;
}

.form img {
    height: 100%;
}

.formulario {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.p3 {
    font-size: 44px;
}

.p4 {
    font-size: 24px;
    font-weight: 100;
}

.botao {
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor--03)
}

.botao a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    gap: 0.5rem;
    color:var(--cor--ff);
}

.contatos {
    height: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.contatos .contato {
    width: 50%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contatos .contato p {
    font-size: 30px;
}

.contatos iframe {
    width: 50%;
    height: 35rem;
}

.contato {
    display: flex;
}

.contato a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--cor--ff);
    font-size: 24px;
}

footer {
    background-color:var(--cor--02);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    text-align: center;
}

footer a {
    text-decoration: none;
}